header{
    background-image: url(./img/pattern.png);
    background-color:  #4EA0FF;
}

#logo{
    width: 33%;
    padding-top: 100px;
}

h1{
    font-size: 40px;
    margin-bottom: 0px;
}

#testo-azzurro{
    color:  #20A9E5;
}

#crediti{
    color: #808080;
    margin-bottom: 20px;
}

#photo-desc{
    font-size: 13px;
}

.testo-articolo, #tabella{
    font-weight: 550;
}

#evidenziato{
    background-color: yellow;
}

#tabella{
    width: 100%;
}

#th{
    background-color: #20A9E5;
    color: rgb(255, 255, 255);
    text-align: left;
}

.riga-dispari{
    background-color: #B1E5F2;
}

.colonna-stretta{
    width: 25%;
}